<style>
.b-sidebar-header {
    background-color: rgba(230, 230, 230, 0.95) !important;
}

.b-sidebar-body {
    background-color: rgba(255, 255, 255, 0.9) !important;
}
</style>
<style scoped>
.kaleidoprism {
    text-align: center;
}

.ui {
    text-align: left;
}

canvas {
    border: 1px dashed black;
}

h4 {
    margin-top: 8px;
    font-size: 1.1em;
}

.controlbutton {
    text-align: left;
    width: 200px;
    position: fixed;
    left: 10px;
}

h1, h2, h3, #about, p {
    font-family: aliceregular, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.designstory_modal, #about {
  column-count: 2;
  text-align: justify;
  text-justify: inter-word;
}

</style>
<template>
    <div class="kaleidoprism">

        <b-modal ok-only id="about" size="xl" scrollable>
            <h1 slot="modal-title">{{ $t('story.title')  }}</h1>
            <div slot="default">
              <div class="designstory_modal">

                  <h2>What is Lorem Ipsum?</h2>

                  <p><b>Lorem Ipsum</b> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                  <h2>Why do we use it?</h2>

                  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

                  <h2>Where does it come from?</h2>

                  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>

                  <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>

                  <h2>Where can I get some?</h2>

                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
              </div>

            </div>
        </b-modal>

        <div class="ui">
            <b-button variant="success" v-b-toggle.sidebar-1 class='controlbutton' style="top: 10px;">
                🦄 {{ $t('configure') }}
            </b-button>

            <b-button variant="success" v-b-modal.about class='controlbutton' style="top: 57px;">
                🌈 {{ $t('story.title') }}
            </b-button>

            <b-button variant="outline-secondary" class='controlbutton' style="top: 104px;"
                      @click="downloadSvg()">⬇️ {{ $t('export_button') }}
            </b-button>
            <b-button variant="outline-secondary" class='controlbutton' style="top: 152px;"
                      @click="downloadJson()">⬇️ {{ $t('export_button_json') }}
            </b-button>

            <b-sidebar id="sidebar-1" class="configuresidebar" :title="$t('title')" shadow>
                <div class="px-3 py-2">
                    <p>{{ $t('explanation') }}</p>
                    <hr>
                    {{ $t('enter_seed_input') }}:<br>
                    <b-input-group>
                        <b-input-group-prepend>
                            <b-input-group-text style="width:42px;">
                                <template v-if="generating">
                                    <b-spinner small variant="primary" type="grow" label="Spinning"></b-spinner>
                                </template>
                            </b-input-group-text>
                        </b-input-group-prepend>
                        <b-form-input v-model="seed_input" :placeholder="$t('enter_seed_input')"></b-form-input>
                    </b-input-group>

                    <hr>
                    <b-button v-b-toggle.collapse-1 variant="primary">{{ $t('development_settings') }}</b-button> &nbsp;
                    <b-collapse visible id="collapse-1" class="mt-2">
                        <b-card>
                            <h3>{{ $t('settings.language') }}</h3>
                            <b-form-select @change="$i18n.locale = settings.language" v-model="settings.language"
                                           :options="languages"></b-form-select>
                            <hr>
                            <h3>{{ $t('settings.kaleidoscope_dna.title') }}</h3>
                            <h4>{{ $t('settings.kaleidoscope_dna.lines') }}</h4>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.lines" min="0" max="100"
                                               step="1"></b-form-spinbutton>

                            <h4>{{ $t('settings.kaleidoscope_dna.circles') }}</h4>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.circles" min="0" max="100"
                                               step="1"></b-form-spinbutton>

                            <h4>{{ $t('settings.kaleidoscope_dna.hackers') }}</h4>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.hackers" min="0" max="100"
                                               step="1"></b-form-spinbutton>

                            <h4>{{ $t('settings.kaleidoscope_dna.stars') }}</h4>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.star" min="0" max="100"
                                               step="1"></b-form-spinbutton>

                            <br>
                            <b-button @click="rerender()" variant="success">{{ $t('rerender') }}</b-button>
                            <br>

                            <hr>
                            <h3>{{ $t('settings.kaleidoscope_dna.custom') }}</h3>
                            <p>{{ $t('settings.kaleidoscope_dna.custom_explanation') }}</p>

                            <h4>{{ $t('settings.kaleidoscope_dna.path') }}</h4>
                            <b-input-group>
                                <b-input-group-prepend>
                                    <template v-if="!settings.customDNA.path">
                                        <b-button @click="settings.customDNA.path = customDNA.example">
                                            {{ $t('settings.kaleidoscope_dna.use_example') }}
                                        </b-button>
                                    </template>
                                </b-input-group-prepend>
                                <b-form-input v-model="settings.customDNA.path"
                                              :placeholder="customDNA.example"></b-form-input>
                            </b-input-group>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.custom" min="0" max="100"
                                               step="1"></b-form-spinbutton>
                            <small><span style="color: gray"><a href="https://thenounproject.com/search/?q=hacker"
                                                                target="_blank" rel="nofollow">{{
                                    $t('settings.kaleidoscope_dna.inspiration')
                                }}</a></span></small>


                            <h4>{{ $t('settings.kaleidoscope_dna.emoji') }}</h4>
                            <b-form-input v-model="settings.customDNA.emoji" placeholder=""></b-form-input>
                            <b-form-spinbutton v-model="settings.kaleidoscope_dna.emoji" min="0" max="100"
                                               step="1"></b-form-spinbutton>
                            <small><span style="color: gray"><a href="https://emojipedia.org/nature/" target="_blank"
                                                                rel="nofollow">{{
                                    $t('settings.kaleidoscope_dna.inspiration')
                                }}</a></span></small>
                            <br>
                            <b-button @click="rerender()" variant="success">{{ $t('rerender') }}</b-button>
                            <br>

                            <hr>
                            <h3>{{ $t('settings.rendering') }}</h3>
                            <h4>{{ $t('settings.currentBlendMode') }}</h4>
                            <b-form-select v-model="settings.currentBlendMode" :options="blendmodes"></b-form-select>

                            <h4>{{ $t('settings.maximumRandomColors') }}</h4>
                            <b-form-spinbutton v-model="settings.maximumRandomColors" min="1"
                                               max="100"></b-form-spinbutton>

                            <h4>{{ $t('settings.triangleOpacity') }}</h4>
                            <b-form-spinbutton v-model="settings.triangleOpacity" min="0" max="1"
                                               step="0.1"></b-form-spinbutton>

                            <h4>{{ $t('settings.lineOpacity') }}</h4>
                            <b-form-spinbutton id="lineOpacity" v-model="settings.lineOpacity" min="0" max="1"
                                               step="0.1"></b-form-spinbutton>

                            <h4>{{ $t('settings.barOpacity') }}</h4>
                            <b-form-spinbutton v-model="settings.barOpacity" min="0" max="1"
                                               step="0.1"></b-form-spinbutton>

                            <br>
                            <b-button @click="rerender()" variant="success">{{ $t('rerender') }}</b-button>

                            <hr>
                            <h3>{{ $t('settings.render_presents') }}</h3>
                            <b-form-select v-model="presetsSettingSelected" :options="presetsSetting"></b-form-select>
                            <br><br>
                            <b-button @click="rerender()" variant="success">{{ $t('rerender') }}</b-button>

                            <hr>
                            <h3>{{ $t('settings.uidebug') }}</h3>
                            <b-form-checkbox v-model="generating" switch>{{ $t('generating') }}</b-form-checkbox>
                            <small><span style="color: gray">{{ seed }}</span></small>

                            <hr>
                            <h3>{{ $t('development_settings_reset') }}</h3>
                            <b-button variant="danger" @click="resetSettings()">
                                {{ $t('development_settings_reset') }}
                            </b-button>
                        </b-card>
                    </b-collapse>

                </div>
            </b-sidebar>
        </div>

        <canvas width="1920" height="1080" id="kaleidoprism"></canvas>
    </div>
</template>

<i18n>
{
    "en": {
        "configure": "Create your design",
        "title": "MCH2021 Design",
        "explanation": "This tool creates a design based on a text string. Each design is unique, but consistent for its input.",
        "enter_seed_input": "Make a new design, enter anything",
        "generated_hash": "Generated SHA-1 Hash",
        "export_button": "Download as SVG",
        "export_button_json": "Download as JSON",
        "development_settings": "Hacker settings",
        "development_settings_intro": "These settings are used to fine-tune the design. You can play with them to create more printable or more intense results.",
        "development_settings_reset": "Reset settings",
        "generating": "generating",
        "rerender": "Rerender",
        "story": {
          "title": "Design Story",
          "close": "Close"
        },
        "settings": {
            "language": "Language",
            "kaleidoscope_dna": {
                "title": "Kaleidoscope DNA",
                "lines": "Lines",
                "circles": "Circles",
                "hackers": "Hackers",
                "stars": "Stars",
                "custom": "Custom DNA",
                "custom_explanation": "Setup your own image or text to be used in the kaleidoscope.",
                "emoji": "Emoji / Text",
                "path": "SVG Data",
                "inspiration": "inspiration",
                "use_example": "use example"
            },
            "rendering": "Rendering",
            "maximumRandomColors": "Amount of colors",
            "currentBlendMode": "Blend mode",
            "triangleOpacity": "triangle opacity",
            "lineOpacity": "DNA opacity",
            "barOpacity": "Titlebar opacity",
            "render_presents": "Render presets",
            "uidebug": "User interface debug"
        }
    },
    "nl": {
        "configure": "Maak jouw ontwerp",
        "title": "MCH2021 Ontwerp",
        "explanation": "Met onderstaand veld kan je zelf een ontwerp laten maken. Ieder ontwerp is uniek, maar wel consistent: dezelfde invoer levert hetzelfde ontwerp",
        "enter_seed_input": "Voer een naam in",
        "generated_hash": "Gegenereerde SHA-1 Hash",
        "export_button": "Downloaden als SVG",
        "export_button_JSON": "Downloaden als JSON",
        "development_settings": "Hacker instellingen",
        "development_settings_intro": "Deze instellingen worden gebruikt om het ontwerp te finetunen. Hierdoor kan het ontwerp printbaar worden gemaakt, of meer intens.",
        "development_settings_reset": "Instellingen herstellen",
        "generating": "genereren",
        "rerender": "Opnieuw tekenen",
        "settings": {
            "language": "Taal",
            "kaleidoscope_dna": {
                "title": "Kaleidoscoop DNA",
                "lines": "Lijnen",
                "circles": "Ringen",
                "hackers": "Hackers",
                "stars": "Sterren",
                "custom": "Speciale opties",
                "custom_explanation": "Stel een eigen afbeelding of tekst in om te gebruiken.",
                "emoji": "Emoji / Tekst",
                "path": "SVG Gegevens",
                "inspiration": "inspiratie",
                "use_example": "gebruik voorbeeld"
            },
            "rendering": "Tekening",
            "maximumRandomColors": "Aanta kleuren",
            "currentBlendMode": "Kleurmenging",
            "triangleOpacity": "Zichtbaarheid bladeren",
            "lineOpacity": "Zichtbaarheid DNA",
            "barOpacity": "Zichtbaarheid titel",
            "render_presents": "Standaardinstellingen",
            "uidebug": "Opties voor ontwikkelaars"
        }
    }
}
</i18n>

<script>
// may contain hackers
// nothing is what it seems
// todo: text higher,// refractions under, so the text is more distorted.
// todo: hacker shape without laptop
// https://en.wikipedia.org/wiki/Kaleidoscope#/media/File:Kaleidoscopes.jpg
// todo: will paper understand refractions? Probably: it's a mask with a rotated and flipped layer. This can work.

// kaleidscope, refractions, certain color palette, kaleidoscope = chaos vs order.


const paper = require('paper');
const opentype = require('opentype.js');
let shajs = require('sha.js');
let $ = require('jquery');
let debounce = require('debounce');

/*
* Docs:
* https://www.npmjs.com/package/random
* http://paperjs.org/reference/color/#
* */

export default {
    i18n: {},
    data: function () {
        return {
            // user input:
            default_seed_input: "May Contain Hackers",
            seed_input: "May Contain Hackers",

            // loading state of the UI
            generating: false,

            // randomizers
            random: null, // for geometry
            randomizerColor: null, // for color
            randomDNA: null, // for contents of the kaleidoscopes / anything.
            seedrandom: null,
            canvas: null,

            // As with other settings for print and such, applying them should not override the input.
            defaultSettings: {
                maximumRandomColors: 4,
                currentBlendMode: 'multiply',
                triangleOpacity: 0.7,
                lineOpacity: 0.7,
                barOpacity: 0.5,
                kaleidoscope_dna: {
                    lines: 7, circles: 3, hackers: 1, star: 5, custom: 0, emoji: 0,
                },
                customDNA: {
                    // emoji DNA support, so deFEEST can have million poop emojis. And since stages have emoji names...
                    emoji: "❤️",
                    path: "<path d='M38.4,950.4c-2.4,0-4.8,1.2-7.3,3c-2.5,1.8-4.9,4.4-7.1,7.2c-4.4,5.7-7.8,12.9-7.8,18.8c0,4.5,0.9,7,3.2,9.6c-2.4,1.3-5.4,2.8-7.6,4.3c-2.1,1.5-3.5,3.5-5.6,7.6c-3.8,7.3-5.4,13-5.1,17.4c0.3,4.5,2.6,7.7,6.1,9.8c1.6,1,3.5,1.7,5.6,2.3c-3.9,0-7.9,0-11.9,0c-0.5,0-1,0.6-0.9,1.1c0,0.5,0.6,1,1.1,0.9h12v5c0,0.5,0.5,1,1,1H62c0.5,0,1-0.5,1-1v-5h12c0.5,0,1-0.5,1-1s-0.5-1-1-1h-8.9c1.9-0.6,3.5-1.3,4.8-2.3c2.8-2.1,4.2-5.4,4.1-9.8c-0.1-4.4-1.6-10-4.4-17.2c-1.5-4.1-3-6.2-5.1-7.7c-2.8-1.7-5.7-3.1-7.8-4.3c1-1.1,1.8-2.3,2.2-3.5c0.6-1.7,0.7-3.5,0.7-6.1c0-5.9-3.4-13-7.8-18.8c-2.2-2.9-4.6-5.4-7.1-7.2C43.2,951.5,40.7,950.4,38.4,950.4L38.4,950.4z M38,973.4c6.7,0,13.8,1.5,20.3,3.8c0.1,0.7,0.2,1.5,0.2,2.2c0,2.5-0.1,4.1-0.6,5.4c-0.4,1.2-1.1,2.2-2.2,3.3c-4.8,4.7-10.9,8.2-17.8,8.2c-7,0-13.3-4.8-17.3-8.7c-2.1-2.3-2.6-4-2.6-8.3c0-0.8,0.1-1.6,0.2-2.4C25.2,974.6,30.5,973.4,38,973.4z M38,975.3c-6.6,0-13.1,0.9-15,2.8c0,3.8,0,6.2,3.7,11.2c2.5,2.5,6.2,5,11.2,5c5,0,8.7-2.5,11.2-5c3.7-5,3.7-7.5,3.7-11.2C51.1,976.2,44.6,975.3,38,975.3z M15.1,1003.4H61v27H15.1L15.1,1003.4z M15.1,1032.4H61v4H15.1L15.1,1032.4z'/>",
                }
            },

            languages: [
                {text: "English", value: "en"},
                {text: "Nederlands", value: "nl"}
            ],

            presetsSettingSelected: this.defaultSettings,
            presetsSetting: [
                {text: 'default', value: this.defaultSettings},

                // Go overboard with blend mode, colors, opacity and dna
                {
                    text: 'chaos', value: {
                        maximumRandomColors: 20,
                        currentBlendMode: 'source-over',
                        triangleOpacity: 0.5,
                        lineOpacity: 0.5,
                        barOpacity: 0.5,
                        kaleidoscope_dna: {
                            lines: 20, circles: 20, hackers: 20, star: 20, custom: 0, emoji: 0,
                        }
                    }
                },

                {
                    text: 'dream machine', value: {
                        maximumRandomColors: 20,
                        currentBlendMode: 'source-over',
                        triangleOpacity: 0.1,
                        lineOpacity: 0.1,
                        barOpacity: 0.1,
                        kaleidoscope_dna: {
                            lines: 100, circles: 100, hackers: 100, star: 100, custom: 0, emoji: 0,
                        }
                    }
                },

                {
                    text: 'hacker laptop', value: {
                        maximumRandomColors: 80,
                        currentBlendMode: 'source-over',
                        triangleOpacity: 0.8,
                        lineOpacity: 0.8,
                        barOpacity: 0.8,
                        kaleidoscope_dna: {
                            lines: 60, circles: 60, hackers: 60, star: 60, custom: 0, emoji: 0,
                        }
                    }
                },

                // for printing, has a reduced number of colors, no color blending, no transparency
                {
                    text: 'print', value: {
                        maximumRandomColors: 3,
                        currentBlendMode: 'pin-light',
                        triangleOpacity: 1,
                        lineOpacity: 1,
                        barOpacity: 1,
                        // DNA has been omitted on purpose, so those settings remain the same,
                        // which might be slower, but also easier to revert.
                    }
                }
            ],

            settings: {
                language: 'en',
                maximumRandomColors: 4,
                currentBlendMode: 'multiply',
                triangleOpacity: 0.7,
                lineOpacity: 0.7,
                barOpacity: 0.5,
                
                kaleidoscope_dna: {
                    lines: 6, circles: 2, hackers: 1, star: 1, custom: 0, emoji: 0,
                },
                customDNA: {
                    // emoji DNA support, so deFEEST can have million poop emojis. And since stages have emoji names...
                    emoji: "❤️",
                    path: "<path d='M38.4,950.4c-2.4,0-4.8,1.2-7.3,3c-2.5,1.8-4.9,4.4-7.1,7.2c-4.4,5.7-7.8,12.9-7.8,18.8c0,4.5,0.9,7,3.2,9.6c-2.4,1.3-5.4,2.8-7.6,4.3c-2.1,1.5-3.5,3.5-5.6,7.6c-3.8,7.3-5.4,13-5.1,17.4c0.3,4.5,2.6,7.7,6.1,9.8c1.6,1,3.5,1.7,5.6,2.3c-3.9,0-7.9,0-11.9,0c-0.5,0-1,0.6-0.9,1.1c0,0.5,0.6,1,1.1,0.9h12v5c0,0.5,0.5,1,1,1H62c0.5,0,1-0.5,1-1v-5h12c0.5,0,1-0.5,1-1s-0.5-1-1-1h-8.9c1.9-0.6,3.5-1.3,4.8-2.3c2.8-2.1,4.2-5.4,4.1-9.8c-0.1-4.4-1.6-10-4.4-17.2c-1.5-4.1-3-6.2-5.1-7.7c-2.8-1.7-5.7-3.1-7.8-4.3c1-1.1,1.8-2.3,2.2-3.5c0.6-1.7,0.7-3.5,0.7-6.1c0-5.9-3.4-13-7.8-18.8c-2.2-2.9-4.6-5.4-7.1-7.2C43.2,951.5,40.7,950.4,38.4,950.4L38.4,950.4z M38,973.4c6.7,0,13.8,1.5,20.3,3.8c0.1,0.7,0.2,1.5,0.2,2.2c0,2.5-0.1,4.1-0.6,5.4c-0.4,1.2-1.1,2.2-2.2,3.3c-4.8,4.7-10.9,8.2-17.8,8.2c-7,0-13.3-4.8-17.3-8.7c-2.1-2.3-2.6-4-2.6-8.3c0-0.8,0.1-1.6,0.2-2.4C25.2,974.6,30.5,973.4,38,973.4z M38,975.3c-6.6,0-13.1,0.9-15,2.8c0,3.8,0,6.2,3.7,11.2c2.5,2.5,6.2,5,11.2,5c5,0,8.7-2.5,11.2-5c3.7-5,3.7-7.5,3.7-11.2C51.1,976.2,44.6,975.3,38,975.3z M15.1,1003.4H61v27H15.1L15.1,1003.4z M15.1,1032.4H61v4H15.1L15.1,1032.4z'/>",
                }
            },

            // random colors:
            randomColorBuffer: [],
            randomColorPointer: 0,

            blendmodes: ['normal', 'multiply', 'screen', 'overlay', 'soft-light', 'hard- light', 'color-dodge', 'color-burn', 'darken', 'lighten', 'difference', 'exclusion', 'hue', 'saturation', 'luminosity', 'color', 'add', 'subtract', 'average', 'pin-light', 'negation', 'source-over', 'source-in', 'source-out', 'source-atop', 'destination-over', 'destination-in', 'destination-out', 'destination-atop', 'lighter', 'darker', 'copy', 'xor'],
            
            
            //do not expose these
            COLOR_PALETTE: null,
            BG_COLOR: null,
            SEGMENTS: 6,
            ANGLE: 360 / 6,
            CENTER: null,
            symbols: [],
            hexaCopy: null,

            //could be exposed but maybe we should set them
            genSize: 200,
            space: 10,
            backgroundOpacity: 1,

            //expose these for users to play with :)
            fillBackground: true,
            monochrome: false,
            
            

            // custom DNA support:
            // this is a fallback / example value
            customDNA: {
                example: "<path d='M38.4,950.4c-2.4,0-4.8,1.2-7.3,3c-2.5,1.8-4.9,4.4-7.1,7.2c-4.4,5.7-7.8,12.9-7.8,18.8c0,4.5,0.9,7,3.2,9.6c-2.4,1.3-5.4,2.8-7.6,4.3c-2.1,1.5-3.5,3.5-5.6,7.6c-3.8,7.3-5.4,13-5.1,17.4c0.3,4.5,2.6,7.7,6.1,9.8c1.6,1,3.5,1.7,5.6,2.3c-3.9,0-7.9,0-11.9,0c-0.5,0-1,0.6-0.9,1.1c0,0.5,0.6,1,1.1,0.9h12v5c0,0.5,0.5,1,1,1H62c0.5,0,1-0.5,1-1v-5h12c0.5,0,1-0.5,1-1s-0.5-1-1-1h-8.9c1.9-0.6,3.5-1.3,4.8-2.3c2.8-2.1,4.2-5.4,4.1-9.8c-0.1-4.4-1.6-10-4.4-17.2c-1.5-4.1-3-6.2-5.1-7.7c-2.8-1.7-5.7-3.1-7.8-4.3c1-1.1,1.8-2.3,2.2-3.5c0.6-1.7,0.7-3.5,0.7-6.1c0-5.9-3.4-13-7.8-18.8c-2.2-2.9-4.6-5.4-7.1-7.2C43.2,951.5,40.7,950.4,38.4,950.4L38.4,950.4z M38,973.4c6.7,0,13.8,1.5,20.3,3.8c0.1,0.7,0.2,1.5,0.2,2.2c0,2.5-0.1,4.1-0.6,5.4c-0.4,1.2-1.1,2.2-2.2,3.3c-4.8,4.7-10.9,8.2-17.8,8.2c-7,0-13.3-4.8-17.3-8.7c-2.1-2.3-2.6-4-2.6-8.3c0-0.8,0.1-1.6,0.2-2.4C25.2,974.6,30.5,973.4,38,973.4z M38,975.3c-6.6,0-13.1,0.9-15,2.8c0,3.8,0,6.2,3.7,11.2c2.5,2.5,6.2,5,11.2,5c5,0,8.7-2.5,11.2-5c3.7-5,3.7-7.5,3.7-11.2C51.1,976.2,44.6,975.3,38,975.3z M15.1,1003.4H61v27H15.1L15.1,1003.4z M15.1,1032.4H61v4H15.1L15.1,1032.4z'/>",
            },

            // debouncetime, used to not overload a system while typing. The faster the renderer is, the lower the
            // debounce time can be. Time is in miliseconds. This cannot be set in the UI because due to reasons:
            // the debounce is set on creation time of the UI.
            debouncetime: 300,
        }
    },
    computed: {
        seed: function () {
            return shajs('sha1').update(this.seed_input).digest('hex');
        },
    },
    watch: {
        seed_input: function () {
            this.generating = true;
            localStorage.setItem('seed_input', this.seed_input);
        },
        presetsSettingSelected: function () {
            this.applySettings(this.presetsSettingSelected);
        },
    },
    created() {
        // You cannot add a debounce on a watch:
        // https://stackoverflow.com/questions/47172952/vuejs-2-debounce-not-working-on-a-watch-option
        this.unwatch = this.$watch('seed', debounce(() => {
            this.createPoster();
        }, this.debouncetime), {
            // Do not listen to in-array mutations, as this is a very simple app.
            deep: false
        })
    },
    mounted: function () {
        this.loadSettings();
        this.$i18n.locale = this.settings.language;

        if (localStorage.getItem('seed_input') !== null) {
            this.seed_input = localStorage.getItem('seed_input');
        }

        // creating prism:
        // this.context = this.canvas.getContext('2d');
        // this.renderPrism();
        // https://www.npmjs.com/package/random
        this.seedrandom = require('seedrandom');

        this.random = require('random');
        this.random.use(this.seedrandom(this.seed));
        this.randomizerColor = this.random.clone(this.seedrandom(this.seed));
        this.randomDNA = this.random.clone(this.seedrandom(this.seed));

        this.canvas = document.getElementById('kaleidoprism');
        paper.setup(this.canvas);
        this.createPoster();
    }, methods: {
        resetSettings: function () {
            this.applySettings({});
        },
        applySettings: function (new_settings) {
            // settings can change over time, and a stored setting object might be incomplete.
            // This method tries to take this incompleteness into account by trying to set things.
            // It will reset the current settings to the default set, and then overwrites them per item.
            this.settings = this.defaultSettings;
            this.settings = {...this.defaultSettings, ...new_settings};
        },
        saveSettings: function () {
            // We're saving everytime there is a rerender. This eases development and also shows the same after reload.
            localStorage.setItem('settings', JSON.stringify(this.settings))
        },
        loadSettings: function () {
            this.applySettings(JSON.parse(localStorage.getItem('settings')));
        },
        rerender: function () {
            // todo: this is not showing yet, same shit as before. It does when you use a watch, but not when
            //      but not in this configuration.
            this.generating = true;
            this.$forceUpdate();
            this.$nextTick(() => {
                this.createPoster();
            })
        },
        randomColor: function () {
            // Use a limited number of generated colors. This prevents tons of extra calls to
            // a randomizer, which is pretty slow. It also limits the amount of colors so to have
            // N-color variants.
            if (this.randomColorBuffer.length >= this.settings.maximumRandomColors) {
                this.randomColorPointer++;
                return this.randomColorBuffer[this.randomColorPointer % this.randomColorBuffer.length];
            }

            let new_color = new paper.Color(this.randomizerColor.float(), this.randomizerColor.float(), this.randomizerColor.float());
            this.randomColorBuffer.push(new_color);
            // returns a hex color based on the current randomizer state:
            return new_color;
        },
        resetColors: function () {
            this.randomColorBuffer = [];
            this.randomColorPointer = 0;
        }
        ,// taken from: http://paperjs.org/features/
        downloadDataUri: function (options) {
            // nice data leakage, guess it works for now, with jquery, sigh.
            if (!options.url)
                options.url = "http://download-data-uri.appspot.com/";
            $('<form method="post" action="' + options.url
                + '" style="display:none"><input type="hidden" name="filename" value="'
                + options.filename + '"/><input type="hidden" name="data" value="'
                + options.data + '"/></form>').appendTo('body').submit().remove();
        },
        downloadSvg: function () {
            let svg = paper.project.exportSVG({asString: true});
            this.downloadDataUri({
                data: 'data:image/svg+xml;base64,' + btoa(svg), filename: `mch2021_${this.seed}_poster.svg`
            });
        },
        downloadJson: function () {
            let svg = paper.project.exportJSON({asString: true});
            this.downloadDataUri({
                data: 'data:application/json;base64,' + btoa(svg), filename: `mch2021_${this.seed}_poster.json`
            });
        },
        clean: function () {
            paper.project.activeLayer.removeChildren();
        },
        createPoster: function () {
            this.saveSettings();
            this.resetColors();

            this.clean();
            this.random.use(this.seedrandom(this.seed));
            this.randomizerColor.use(this.seedrandom(this.seed));
            this.randomDNA.use(this.seedrandom(this.seed));

            //this.renderKaleidoScope(this.verbalLocation('top-left'));
            //this.renderKaleidoScope(this.verbalLocation('top-right'));
            //this.renderKaleidoScope(this.verbalLocation('bottom-left'));
            //this.renderKaleidoScope(this.verbalLocation('bottom-right'));
            
            //paper.setup('paperCanvas');
            this.CENTER = paper.view.bounds.center;
            //main generation function
            this.generateHexagon();

            this.renderTitleBar();

            paper.view.draw();

            // note: here are no ui updates performed. Even on $nextTick, it doesnt show if you set generating to true.
            // all stuff is buffered until the calculations are done... i guess...
            this.generating = false;
        },
        verbalLocation: function (location) {
            let x = 1920 - 200; // some side padding
            let y = 1080 - 200; // some side padding
            let cx = 0;
            let cy = 0;

            if (location === 'top-left') {
                cx = this.random.int(-200, -x / 2);
                cy = this.random.int(-200, -y / 2);
            }
            if (location === 'top-right') {
                cx = this.random.int(200, x / 2);
                cy = this.random.int(-200, -y / 2);
            }
            if (location === 'bottom-left') {
                cx = this.random.int(-200, -x / 2);
                cy = this.random.int(200, y / 2);
            }
            if (location === 'bottom-right') {
                cx = this.random.int(200, x / 2);
                cy = this.random.int(200, y / 2);
            }

            return paper.view.bounds.center.add(cx, cy);
        },
        renderTitleBar: function () {
            this.renderBar();
            this.renderBar();
            this.renderBar();
            this.renderTitle();
        },
        renderBar: function () {
            let path = new paper.Path();
            path.strokeColor = this.randomColor();
            path.opacity = this.settings.barOpacity;
            let start = new paper.Point(this.random.int(-50, 50), this.random.int(400, 600));
            path.moveTo(start);
            path.strokeWidth = 200;
            path.lineTo(start.add([this.random.int(1820, 1920), this.random.int(-50, 50)]));
        },
        renderTitle: function () {
            // done: is it possible to support multiple lines with \n or so? Docs don't use the word 'line'.
            // -> this is not possible. We can however add two lines of input, but that's just terrible.
            let title = new paper.PointText(new paper.Point(0, 0));
            title.justification = 'center'
            title.content = this.seed_input;
            title.fillColor = 'white';
            title.fontFamily = "aliceregular";
            title.position = paper.view.bounds.center;
            title.fontSize = 120;
            title.rotate(this.random.int(-5, 5));
        },
        getRndPointInPath: function (path) {
            let line = new paper.Path.Line(this.getRndPointOnPath(path), this.getRndPointOnPath(path))
            return this.getRndPointOnPath(line)
        },
        
        kaleidoScopeContentCircle: function (path) {
            let line = new paper.Path.Circle(this.getRndPointInPath(path), this.randomDNA.int(3, 10));
            line.strokeWidth = 50;
            line.strokeColor = this.randomColor();
            line.opacity = this.settings.lineOpacity;
            line.blendMode = this.settings.currentBlendMode;
            return line;
        },

        kaleidoScopeContentEmoji: function (path) {
            // emojis, aka: text. Press F in the chat! Add your speaker names, or emojis.
            // done: is opacity or blendmode an option? -> no, it does not render at all.
            let emoji = new paper.PointText(this.getRndPointInPath(path));
            emoji.justification = 'center';
            emoji.content = this.settings.customDNA.emoji;
            emoji.fillColor = this.randomColor();
            emoji.fontFamily = "aliceregular";
            emoji.fontSize = 80;
            emoji.location = this.getRndPointInPath(path);
            // Does not do opacity or blendmode: it will disappear
            // emoji.opacity = 0.9;
            // emoji.blendMode = this.settings.currentBlendMode;
            emoji.rotate(this.randomDNA.int(0, 359));
            return emoji;
        },

        kaleidoScopeContentStar: function (path) {
            // This is what makes me happy :)
            // http://paperjs.org/reference/path/#path-star-center-points-radius1-radius2, radius 2 is the points, radius 1 is the depths.
            let line = new paper.Path.Star(this.getRndPointInPath(path), this.randomDNA.int(5, 8), this.randomDNA.int(20, 25), this.randomDNA.int(10, 15));
            // some stars are filled, others are not :)
            if (this.randomDNA.int(0, 1)) {
                line.fillColor = this.randomColor();
            } else {
                line.strokeWidth = 1;
                line.strokeColor = this.randomColor();
            }
            line.opacity = this.settings.lineOpacity;
            line.blendMode = this.settings.currentBlendMode;
            return line;
        },
        kaleidoScopeContentHacker: function (path) {
            // let's add a hacker image, because well, the image may contain hackers. This hacker image
            // is not free to use, we need an open licensed one. This one will cost money when making merch.
            return this.kaleidoScopeContentShape(
                path,
                "<path d='M38.4,950.4c-2.4,0-4.8,1.2-7.3,3c-2.5,1.8-4.9,4.4-7.1,7.2c-4.4,5.7-7.8,12.9-7.8,18.8c0,4.5,0.9,7,3.2,9.6c-2.4,1.3-5.4,2.8-7.6,4.3c-2.1,1.5-3.5,3.5-5.6,7.6c-3.8,7.3-5.4,13-5.1,17.4c0.3,4.5,2.6,7.7,6.1,9.8c1.6,1,3.5,1.7,5.6,2.3c-3.9,0-7.9,0-11.9,0c-0.5,0-1,0.6-0.9,1.1c0,0.5,0.6,1,1.1,0.9h12v5c0,0.5,0.5,1,1,1H62c0.5,0,1-0.5,1-1v-5h12c0.5,0,1-0.5,1-1s-0.5-1-1-1h-8.9c1.9-0.6,3.5-1.3,4.8-2.3c2.8-2.1,4.2-5.4,4.1-9.8c-0.1-4.4-1.6-10-4.4-17.2c-1.5-4.1-3-6.2-5.1-7.7c-2.8-1.7-5.7-3.1-7.8-4.3c1-1.1,1.8-2.3,2.2-3.5c0.6-1.7,0.7-3.5,0.7-6.1c0-5.9-3.4-13-7.8-18.8c-2.2-2.9-4.6-5.4-7.1-7.2C43.2,951.5,40.7,950.4,38.4,950.4L38.4,950.4z M38,973.4c6.7,0,13.8,1.5,20.3,3.8c0.1,0.7,0.2,1.5,0.2,2.2c0,2.5-0.1,4.1-0.6,5.4c-0.4,1.2-1.1,2.2-2.2,3.3c-4.8,4.7-10.9,8.2-17.8,8.2c-7,0-13.3-4.8-17.3-8.7c-2.1-2.3-2.6-4-2.6-8.3c0-0.8,0.1-1.6,0.2-2.4C25.2,974.6,30.5,973.4,38,973.4z M38,975.3c-6.6,0-13.1,0.9-15,2.8c0,3.8,0,6.2,3.7,11.2c2.5,2.5,6.2,5,11.2,5c5,0,8.7-2.5,11.2-5c3.7-5,3.7-7.5,3.7-11.2C51.1,976.2,44.6,975.3,38,975.3z M15.1,1003.4H61v27H15.1L15.1,1003.4z M15.1,1032.4H61v4H15.1L15.1,1032.4z'/>")
        },

        kaleidoScopeContentCustomShape: function (path) {
            // this might crash, what happens then?
            return this.kaleidoScopeContentShape(path, this.settings.customDNA.path);
        },

        kaleidoScopeContentShape: function (path, shape_path) {
            let shape = paper.project.importSVG(shape_path);

            shape.position = this.getRndPointInPath(path);
            shape.fillColor = this.randomColor();
            shape.opacity = this.settings.lineOpacity;
            shape.rotate(this.randomDNA.int(0, 359));
            shape.blendMode = this.settings.currentBlendMode;
            return shape;
        },
        shuffle: function(a) {
            for (let i = a.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [a[i], a[j]] = [a[j], a[i]];
            }
            return a;
        },
        clearCanvas: function(){
            paper.project.activeLayer.removeChildren();
            this.COLOR_PALETTE = this.shuffle(['#fa448c', '#fec859', '#43b5a0', '#491d88', '#331a38']);
            this.BG_COLOR = this.COLOR_PALETTE.slice(-1)[0];
            this.symbols = [];
            this.hexaCopy = null;
        },
        generateHexagon: function(){
            this.clearCanvas();
            let triangle = new paper.Path();
            let sizeVec = new paper.Point(0, this.genSize);

            triangle.addSegment(this.CENTER);
            triangle.addSegment(this.CENTER.add( sizeVec.rotate(this.ANGLE/2) ));
            triangle.addSegment(this.CENTER.add( sizeVec.rotate(-this.ANGLE/2) ));
            triangle = this.roundCorners(triangle, 40);
            let triangleCenter = triangle.position;

            let shapes1 = this.genShapes(triangle);

            let grp;
            if(this.monochrome){
                grp = new paper.Group();

                shapes1.forEach(shape => {
                    let tmp = triangle.subtract(shape);
                    triangle.remove();
                    shape.remove();
                    triangle = tmp;
                });
                triangle.fillColor = this.BG_COLOR;
                grp.addChild(triangle);
            }else{
                let tBG = triangle.clone();
                tBG.fillColor = this.BG_COLOR;
                this.COLOR_PALETTE.shift();
                let shapes2 = this.genShapes(triangle);
                grp = new paper.Group({children: [triangle, tBG].concat(shapes1).concat(shapes2)});
                grp.clipped = true;
                this.COLOR_PALETTE.shift();
            }
            grp.translate([0,this.space]);

            let mainHexagon = this.spread(grp, triangleCenter);
            this.hexaCopy = mainHexagon.clone();
            this.hexaCopy.position = [-this.genSize*3, -this.genSize*3];
            if(this.fillBackground){
                mainHexagon = this.fillView(mainHexagon);
                this.setText(mainHexagon, this.default_seed_input);
            }

        },
        toggleMonochrome: function(){
            this.monochrome = !this.monochrome;
            this.generateHexagon();
        },

        toggleFill: function(){
            this.fillBackground = !this.fillBackground;
            this.generateHexagon();
        },
        setText: function(mainHexagon, text){
            let removeLater = [];
            opentype.load("Alice-Regular.ttf", function(err, font) {

                if (err) {
                    console.log(err.toString());
                    return;
                }
                let fontPath = font.getPath(text,0,0,this.genSize*0.8);
                let textPath = paper.project.importSVG(fontPath.toSVG());
                textPath.fillColor = this.monochrome==true? this.BG_COLOR : this.COLOR_PALETT[0];
                textPath.position.y = mainHexagon.position.y - (this.genSize-this.space)/2;
                textPath.bounds.topLeft.x = this.randomDNA.int(50, paper.project.view.bounds.width - textPath.bounds.width - 100);
                this.symbols.forEach(symbol => {
                    if(symbol.intersects(textPath)){
                        let newCopy = this.hexaCopy.clone();
                        newCopy.position = symbol.position;
                        newCopy.children.forEach(tri => {
                            if(tri.children[0].intersects(textPath)){
                                removeLater.push(tri);
                            }
                        })
                        symbol.remove();
                    }
                });
                removeLater.forEach(tri => tri.tweenTo({
                    opacity: 0,
                    position: [tri.position.x,1000],
                    rotation: this.randomDNA.int(-10, 10)
                }, {duration: this.randomDNA.int(500, 1000)}));
                this.hexaCopy.remove();
                //textPath.scale(1.2);
                textPath.rotate(this.randomDNA.int(-5, 5));
                textPath.sendToBack();
            });
        },
        fillView: function(hexagon){
            let offset = paper.Point.random().multiply([-this.genSize, -this.genSize]);
            let symbol = new paper.Symbol(hexagon);
            let hexaWidthDist = this.genSize*3 + this.space*5
            let hexaHeightDist = (hexagon.bounds.height + this.space)/2
            let lineCount = 0;

            for(let y = offset.y; y<paper.project.view.bounds.height+hexaHeightDist; y+=hexaHeightDist){
                for(let x = offset.x; x<paper.project.view.bounds.width+hexaWidthDist; x+=hexaWidthDist){
                    if(lineCount%2 == 0){
                        this.symbols.push(symbol.place([x,y]));
                    }else{
                        this.symbols.push(symbol.place([x+hexaWidthDist/2,y]));
                    }
                }
                lineCount++;
            }
            this.symbols.forEach(sym => sym.opacity = this.backgroundOpacity);
            let mainSymbol = this.symbols[this.randomDNA.int(0, this.symbols.length)];
            while(!paper.project.view.bounds.contains(mainSymbol.bounds)){
                mainSymbol = this.symbols[this.randomDNA.int(0, this.symbols.length)];
            }
            mainSymbol.opacity = 1;
            return mainSymbol;
        },
        genShapes: function(path){
            let shapes = [];
            let timeout = 5;
            let counter = 0
            while(counter < timeout){
                let newLine = this.setLine(path);
                while(this.checkIntersection(shapes, newLine) && counter < timeout){
                    newLine.remove();
                    newLine = this.setLine(path);
                    counter++;
                }
                if(counter < timeout){
                    counter = 0;
                    shapes.push(newLine);
                }else{
                    newLine.remove();
                }
            }
            return shapes;
        },
        checkIntersection: function(arr, path){
            return arr.filter(item => item.intersects(path)).length > 0
        },
        getRndPointOnPath: function(path){
            return path.getPointAt(this.randomDNA.float(0, path.length));
        },
        setLine: function(path){
            let trace = new paper.Path.Rectangle([0, 0], [this.genSize/15, 40]);

            let pL = trace.bounds.topLeft;
            let pR = trace.bounds.topRight;
            trace = this.placeVia(trace, trace.bounds.bottomCenter);

            for(let i = 0; i<this.randomDNA.int(1, 4); i++){
                [trace, pL, pR] = this.addLineSegment(trace, pL, pR);
            }
            trace = this.placeVia(trace, pL.add(pR.subtract(pL).divide(2)));

            trace.position = this.getRndPointOnPath(path);
            trace.rotate( this.randomDNA.int(0, 4) *90);
            trace.fillColor = this.COLOR_PALETTE[0];
            return trace;
        },
        addLineSegment: function (path, posLeft, posRight){
            let dir = this.randomDNA.int(0, 4);
            let trace = new paper.Path.Rectangle([0, 0], [this.genSize/15, 40]);

            trace.bounds.bottomLeft = posLeft;
            let pL = trace.bounds.topLeft;
            let pR = trace.bounds.topRight;

            switch(dir){
                case 0:
                    path.rotate(45, posRight);
                    break;
                case 1:
                    path.translate([0, -10]);
                    break;
                case 2:
                    path.translate([0, -10]);
                    break;
                case 3:
                    path.rotate(-45, posLeft);
                    break;
            }
            let tmp = trace.unite(path);
            trace.remove();
            path.remove();
            return [tmp, pL, pR];
        },
        placeVia: function(path, pos){
            let type = this.randomDNA.float(0, 1);
            if(type < 0.3){
                let via = new paper.Path.Circle(pos, this.genSize/15);
                let tmp = path.unite(via);
                via.remove();
                path.remove();
                return tmp;
            }else{
                let via = new paper.Path.Circle(pos, this.genSize/15 * 1.5);
                let tmp = path.unite(via);
                via.remove();
                path.remove();
                path = tmp;
                via = new paper.Path.Circle(pos, this.genSize/15 * 0.5);
                tmp = path.subtract(via);
                via.remove();
                path.remove();
                return tmp;
            }
        },
        spread: function(grp, triangleCenter){
            let hexagon = new paper.Group();
            hexagon.addChild(grp);
            for(let i = 1; i<this.SEGMENTS; i++){
                let newGrp = grp.clone();
                if(i%2==1){
                    newGrp.scale(-1, 1, triangleCenter);
                }
                newGrp.rotate(this.ANGLE*i, this.CENTER);
                hexagon.addChild(newGrp);
            }
            return hexagon;
        },
        roundCorners: function (path, radius) {
            let segments = path.segments.slice(0);
            path.removeSegments();

            for (let i = 0, l = segments.length; i < l; i++) {
                let curPoint = segments[i].point;
                let nextPoint = segments[i + 1 === l ? 0 : i + 1].point;
                let prevPoint = segments[i - 1 < 0 ? segments.length - 1 : i - 1].point;
                let nextDelta = curPoint.subtract(nextPoint);
                let prevDelta = curPoint.subtract(prevPoint);

                nextDelta.length = radius;
                prevDelta.length = radius;

                path.add(
                    new paper.Segment(
                        curPoint.subtract(prevDelta), null, prevDelta.divide(2)
                    )
                );

                path.add(
                    new paper.Segment(
                        curPoint.subtract(nextDelta), nextDelta.divide(2), null
                    )
                );
            }
            path.closed = true;
            return path;
        }

    }


}
</script>
