<template>
    <div id="app">
        <KaleidoPrism/>
    </div>
</template>

<script>
import KaleidoPrism from './components/KaleidoPrism.vue'

export default {
    name: 'App',
    components: {
        KaleidoPrism
    }
}
</script>

<style>
@font-face {
    font-family: 'aliceregular';
    src: url('./assets/fonts/Alice-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, #app {
    font-family: aliceregular, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}
</style>
